.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.feeling-emoji {
    width: 40px;
    height: 36.683px;
}

.prev-btn {
    width: 15px;
    height: 27px;
    margin: 19px 0 0 18px;
}

.next-btn {
    width: 17px;
    height: 17px;
}

.choose-feeling-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 321px;
    height: 108px;
    border-radius: 10px;
    border: 1px solid #C7D8C2;
    background: #FFF;
    margin-bottom: 17px;
}

p {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
}



#diary-container {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    width: 280px;
    height: 260px;
    border-radius: 10px;
    border: 1px solid #C7D8C2;
    background: #FFF;
    position: relative;
    outline: none;
    resize: none;
    font-size: 15px;
}

.write{
    width: 321px;
height: 260px;
outline: none;
}

.next-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.next-container span {
    color: #C7D8C2;
    font-size: 12px;
    margin-right: 4px;
}

a {
    text-decoration: none;
}

button{
    margin-top: 40px;
    width: 70px;
    height: 30px;
    border: 1px solid #C7D8C2;
    background-color: #C7D8C2;
    border-radius: 10px;
}