@media screen and (max-width: 844px) {
    /* 전체적인 스타일 */
    body {
        font-family: Arial, sans-serif;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #list-plus-container {
        margin-top: 100px;
    }

    #list-plus-container, .listtext-container {
        width: 90%; /* 화면에 맞추기 위해 너비 설정 */
        /* max-width: 500px; */
        display: flex;
        align-items: center;
        justify-content: space-between; /* 일정 텍스트와 시간 간격 */
        gap: 20px;
        padding: 10px;
        border-bottom: 1px solid #E5E8E1;
    }

    .plus-container {
        width: 90%;
        /* max-width: 500px; */
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    #pop-up {
        background-color: white;
        width: 308px;
        height: 410px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        gap: 20px;
        margin-left: 30px;
    }

    input {
        width: 236px;
        height: 26px;
        border-radius: 10px;
        background-color: #E5E8E1;
        padding: 5px;
        border: 1px solid #E5E8E1;
    }

    button {
        width: 70px;
        height: 30px;
        border: 1px solid #C7D8C2;
        background-color: #C7D8C2;
        border-radius: 10px;
    }

    .list-img {
        width: 17px;
        margin-top: 10px;
    }
}