@media screen and (max-width: 844px) {
    body {
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

.login-container {
    background-color: var(--color3);
        padding: 60px 20px;
        text-align: center;
        border-radius: 30px;
        width: 296px;
        height: 536px; /* Adjusted to match the design */
        display: flex;
        flex-direction: column;
        
    }

    h1 {
        color: var(--color1);
        font-size: 48px;
        margin-bottom: 20px;
        font-family: 'LOTTERIACHAB', sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center; /* 중앙 정렬 */
    }

    input {
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        font-family: 'LOTTERIACHAB', sans-serif;
        width: 70%; /* 입력 필드 너비 조정 */
        background-color: transparent;
        border-bottom: 1px solid #000000;
    }

    button {
        background-color: #C7D8C2;
        padding: 10px;
        border: none;
        border-radius: 50px;
        font-family: 'LOTTERIACHAB', sans-serif;
        width: 16rem; /* 버튼 너비 조정 */
        height: 50px;
        color: #A4B89F;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: var(--color1);
    }
}
