<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/emotion.css">
</head>
<body>
    <main id="main">
        <img src="/image/ChevronLeft (1).png" alt="" class="prev-btn"> <!-- 전으로 돌아가기 버튼 이미지 -->

        <div class="show-container">
            <p>감정선택</p>
            <div class="choose-feeling-container">
                <img src="/image/행복한 표정.png" alt="" class="feeling-emoji">
                <img src="/image/놀라운표정.png" alt="" class="feeling-emoji">
                <img src="/image/soso표정.png" alt="" class="feeling-emoji">
                <img src="/image/기분 조금 안좋은표정.png" alt="" class="feeling-emoji">
                <img src="/image/기분 드러운 표정.png" alt="" class="feeling-emoji">
            </div>

            <p>일기 작성</p>
            <form action="" id="diary-container">
                <div class="write" contenteditable="true"></div>
                <a href="#"> 
                <div class="next-container">
                    <span>일기 요약 보러가기</span>
                    <img src="/image/ChevronRight (1).png" alt="" class="next-btn">
                </div>
            </a>
            </form>
            <button>완료</button>
        </div>
    </main>

    <script src="../js/emotion.js"></script>
</body>
</html>
