<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/emotion.css">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5001/main"><img src="../static/image/ChevronLeft (1).png" alt="" class="prev-btn"></a> <!-- 전으로 돌아가기 버튼 이미지 -->
    </header>
    <main id="main">
        <div class="show-container">
            <p>감정선택</p>
            <div class="choose-feeling-container">
                <img src="../static/image/행복한 표정.png" alt="😊" class="feeling-emoji" data-feeling="😊">
                <img src="../static/image/놀라운표정.png" alt="😲" class="feeling-emoji" data-feeling="😲">
                <img src="../static/image/soso표정.png" alt="😐" class="feeling-emoji" data-feeling="😐">
                <img src="../static/image/기분 조금 안좋은표정.png" alt="😞" class="feeling-emoji" data-feeling="😞">
                <img src="../static/image/기분 드러운 표정.png" alt="😡" class="feeling-emoji" data-feeling="😡">
            </div>

            <p>일기 작성</p>
            <form action="" id="diary-container">
                <div class="write" contenteditable="true" id="diary-text"></div>
                <a href="http://127.0.0.1:5001/summary"> 
                    <div class="next-container">
                        <span>일기 요약 보러가기</span>
                        <img src="../static/image/ChevronRight (1).png" alt="" class="next-btn">
                    </div>
                </a>
            </form>
            <button id="save-button">완료</button>
        </div>
    </main>

    <script src="../static/js/emotion.js"></script>
</body>
</html>
