<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDays</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>ToDays</h1>
        <div class="bottom-section">
            <div class="button" id="typing-text"></div>
            <a href="http://127.0.0.1:5001/login"><img src="../static/image/화살표.png" alt="arrow" class="arrow-image"></a>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>