<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="login-container">
        <h1>ToDays</h1>
        <form method="POST" action="/login">
            <input type="text" name="id" placeholder="id" required>
            <input type="password" name="password" placeholder="password" required>
           <button type="submit">Login</button>
        </form>
        <a href="http://127.0.0.1:5001/signup"><p>회원가입을 하시겠습니까?</p></a>
    </div>
</body>
</html>
