<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="signup-container">
        <h1>Todays</h1>
        <div id="tab-container">
            <a href=""><div class="tab">일기 작성</div>
            <a href="http://127.0.0.1:5000/list"><div class="tab">할 일 목록</div></a>
            <a href=""><div class="tab">달력</div></a>
        </div>
    </div>
</body>
</html>
