<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/summary.css">
</head>

<body>
    <main id="main">

        <img src="../static/image/ChevronLeft (1).png" alt="" class="prev-btn"> <!-- 전으로 돌아가기 버튼 이미지 -->

        <div class="all-container">
        <div class="show-container">
            <p>한 줄 요약</p>
            <div class="first-show-container">

            </div>

            <p class="feeling">감정 요약</p>
            <div class="second-show-container">
                <a href="#"><div class="next-container">
                    <div class="text">달력으로 넘어가기</div>
                    <img src="../static/image/ChevronRight (1).png" alt="" class="next-btn">
                </div></a>
            </div>
        </div>
    </div>
    </main>
</body>

</html>